
@{
    ViewBag.Title = "Đăng Ký";
    Layout = "~/Views/Shared/Reg_log_user.cshtml";
}
@{
    var danhSachThanhPho = ViewBag.DanhSachThanhPho as List<string>;
}
<style>
    .custom-input-group {
        margin-bottom: 15px;
    }

    .error-message {
        color: red;
        text-align: left;
    }

    .btn-register {
        width: 100%;
    }
</style>
<div class="container centered-form">
    <div class="row">
        <div class="col-md-6 order-last" id="jobStarSection" style="padding:20px; position: relative;">

            <h2 style="color:green; position: relative; z-index: 1;">Giới thiệu về JobStar</h2>
            <p style="position: relative; z-index: 1;">JobStar là một nền tảng tìm việc làm hàng đầu, kết nối nhà tuyển dụng với ứng viên tiềm năng. Chúng tôi cung cấp các công cụ mạnh mẽ để bạn xây dựng hồ sơ cá nhân ấn tượng và tìm kiếm các cơ hội sự nghiệp lý tưởng.</p>
            <p style="position: relative; z-index: 1;">Hãy tham gia cùng chúng tôi và khám phá những cơ hội sự nghiệp mới!</p>

            <img src="~/Content/img/backgroud.png" alt="JobStar" class="img-fluid mt-3" style="position: absolute; top: -16px; left: 0; width: 100%; height: 100%; z-index: 0;">

            <p class="mt-3" style="position: relative; z-index: 1;">Liên hệ: support@jobstar.com</p>
        </div>


        <div class="col-md-6" style="padding-left: 0px; padding-right: 24px; margin-top: 20px;">
            <h2 style="color:green">Chào mừng bạn đến với JobStar</h2>
            <p>Đăng ký hồ sơ cho nhà tuyển dụng</p>
            @using (Html.BeginForm("Employer_Register", "Auth", FormMethod.Post, new { id = "myForm" }))
            {
                @Html.ValidationSummary(true)

                <h7 style="color:red;text-align:left;">@ViewData["Loino"]</h7>
                <div class="input-group custom-input-group">
                    <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                    @Html.TextBox("HotenKH", ViewData["HotenKH"], new { @class = "form-control", type = "text", placeholder = "Họ Tên Khách Hàng" })
                </div>

                <h7 style="color:red;text-align:left;">@ViewData["Loitendangnhap"]</h7>
                <div class="input-group custom-input-group">
                    <span class="input-group-text"><i class="bi bi-person-circle"></i></span>
                    @Html.TextBox("TenDN", ViewData["TenDN"], new { @class = "form-control", type = "text", placeholder = "Tên Đăng Nhập" })
                </div>

                <h7 style="color:red;text-align:left">@ViewData["Loi2"]</h7>
                <div class="input-group custom-input-group">
                    <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                    @Html.Password("Matkhau", "", new { @class = "form-control", type = "password", placeholder = "Mật Khẩu" })
                </div>

                <h7 style="color:red;text-align:left">@ViewData["Loimatkhaunhaplai"]</h7>
                <div class="input-group custom-input-group">
                    <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                    @Html.Password("ReMatkhau", "", new { @class = "form-control", type = "password", placeholder = "Nhập Lại Mật Khẩu" })
                </div>

                <h7 style="color:red;text-align:left">@ViewData["Loisdt"]</h7>
                <div class="input-group custom-input-group">
                    <span class="input-group-text"><i class="bi bi-telephone"></i></span>
                    @Html.TextBox("sdt", ViewData["sdt"], new { @class = "form-control", type = "number", placeholder = "Số điện thoại cá nhân" })
                </div>

                <h7 style="color:red;text-align:left">@ViewData["Loiemail"]</h7>
                <div class="input-group custom-input-group">
                    <span class="input-group-text"><i class="bi bi-envelope-fill"></i></span>
                    @Html.TextBox("Email", ViewData["Email"], new { @class = "form-control", type = "email", placeholder = "Email cá nhân" })
                </div>

                <h7 style="color:red;text-align:left">@ViewData["Loi4"]</h7>
                <div class="input-group custom-input-group">
                    <span class="input-group-text"><i class="bi bi-building"></i></span>
                    @Html.TextBox("Congty", ViewData["Congty"], new { @class = "form-control", type = "text", placeholder = "Tên Doanh Nghiệp" })
                </div>

                <h7 style="color:red;text-align:left">@ViewData["Loithue"]</h7>
                <div class="input-group custom-input-group">
                    <span class="input-group-text"><i class="bi bi-telephone"></i></span>
                    @Html.TextBox("SoThue", ViewData["SoThue"], new { @class = "form-control", type = "number", placeholder = "Mã số thuế" })
                </div>

                <h7 style="color:red;text-align:left">@ViewData["Loithanhpho"]</h7>
                if (danhSachThanhPho != null && danhSachThanhPho.Any())
                {
                    <div class="input-group custom-input-group">
                        <span class="input-group-text"><i class="bi bi-geo-alt-fill"></i></span>
                        @Html.DropDownList("tp", new SelectList(danhSachThanhPho), "Chọn thành phố", new { @class = "form-control" })
                    </div>
                }
                else
                {
                    <p>Danh sách thành phố không có hoặc bị rỗng.</p>
                }



                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-group mb-0">
                            <input type="submit" value="Submit" class="btn btn-primary" />
                        </div>
                    </div>
                </div>

                <br />

                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-group mb-0">
                            <center>
                                <h7>Đã có tài khoản</h7> &nbsp; <h7>@Html.ActionLink("Đăng nhập", "Login", null, new { style = "color: green;" })</h7>
                            </center>
                        </div>
                    </div>
                </div>
            }

        </div>


    </div>
</div>




<script>
    function hideOnMobile() {
        var jobStarSection = document.getElementById('jobStarSection');
        if (window.innerWidth < 768) {
            jobStarSection.style.display = 'none';
        } else {
            jobStarSection.style.display = 'block';
        }
    }

    window.addEventListener('load', hideOnMobile);
    window.addEventListener('resize', hideOnMobile);
</script>

