@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/Reg_log_user.cshtml";
}

<div class="container centered-form">
    <div class="row">
        <div class="col-md-6 order-last" id="jobStarSection" style="padding:20px; position: relative;">

            <h2 style="color:green; position: relative; z-index: 1;">Giới thiệu về JobStar</h2>
            <p style="position: relative; z-index: 1;">JobStar là một nền tảng tìm việc làm hàng đầu, </br>kết nối nhà tuyển dụng với ứng viên tiềm năng.</p>
            <img src="~/Content/img/backgroud.png" alt="JobStar" class="img-fluid mt-3" style="position: absolute; top: -16px; left: 0; width: 100%; height: 100%; z-index: 0;">

            <p class="mt-3" style="position: relative; z-index: 1;">Liên hệ: support@jobstar.com</p>
        </div>

        <div class="col-md-6" style="padding-left: 0px; padding-right: 24px; margin-top: 20px;">
            <h2 style="color:green">Chào mừng bạn đến với JobStar</h2>
            <p>Cùng xây dựng một hồ sơ nổi bật và nhận được các cơ hội sự nghiệp lý tưởng</p>

            @using (Html.BeginForm("Login", "Auth", FormMethod.Post, new { id = "loginForm" }))
            {
                @Html.ValidationSummary(true)
                <p class="text-danger">@ViewData["Loidangnhap"]</p>
                <div class="mb-3">
                    <label for="TenDN" class="form-label"><i class="fa fa-user"></i> Tài khoản</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                        @Html.TextBox("TenDN", ViewData["TenDN"], new { @class = "form-control", type = "text", placeholder = "Tên Đăng Nhập" })
                    </div>
                </div>

                <div class="mb-3">
                    <label for="MatKhau" class="form-label"><i class="fa fa-lock"></i> Mật khẩu</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-lock"></i></span>
                        @Html.Password("MatKhau", "", new { @class = "form-control", type = "password", placeholder = "Mật Khẩu", @id = "MatKhau" })
                        <button class="btn btn-outline-success" type="button" id="togglePasswordVisibility" onmouseover="showPasswordIcon()" onmouseout="hidePasswordIcon()">
                            <i id="eyeIcon" class="bi bi-eye-slash"></i>
                        </button>
                    </div>
                    <p class="text-danger">@ViewData["Loisaimatkhau"]</p>
                </div>

                <div class="mb-3">
                    <input type="submit" value="Đăng Nhập" class="btn btn-success w-100" />
                </div>
                <div class="mb-3 text-center">
                    <p>Bạn chưa có tài khoản? <a href="@Url.Action("Register", "Auth")" style="color: green;">Đăng ký ngay</a></p>
                    <p>Quên mật khẩu?</p><a href="javascript:void(0)" onclick="redirectToForgetPassword()" style="color: green;">Điền tên tài khoản và Nhấn vào link sau để lấy lại mật khẩu</a>

                </div>

            }

            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @TempData["ErrorMessage"]
                </div>
            }
            @if (TempData["ErrorEmailMessage"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @TempData["ErrorEmailMessage"]
                </div>
            }
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success" role="alert">
                    @TempData["SuccessMessage"]
                </div>
            }

        </div>
    </div>
</div>





<script>
    /*hide background*/
    function hideOnMobile() {
        var jobStarSection = document.getElementById('jobStarSection');
        if (window.innerWidth < 768) {
            jobStarSection.style.display = 'none';
        } else {
            jobStarSection.style.display = 'block';
        }
    }

    window.addEventListener('load', hideOnMobile);
    window.addEventListener('resize', hideOnMobile);

    /*show pass*/
    function togglePasswordVisibility() {
        var passwordInput = document.getElementById('password');
        var toggleButton = document.getElementById('togglePasswordVisibility');

        if (passwordInput.getAttribute('type') === 'password') {
            passwordInput.setAttribute('type', 'text');
            toggleButton.innerHTML = '<i class="bi bi-eye"></i>';
        } else {
            passwordInput.setAttribute('type', 'password');
            toggleButton.innerHTML = '<i class="bi bi-eye-slash"></i>';
        }
    }
    function redirectToForgetPassword() {
         var tenDN = document.getElementById('TenDN').value;
         window.location.href = '@Url.Action("ForgetPassword", "Auth")?tentk=' + encodeURIComponent(tenDN);
    }
    function showPassword() {
        var passwordInput = document.getElementById('MatKhau');
        passwordInput.setAttribute('type', 'text');
    }

    function hidePassword() {
        var passwordInput = document.getElementById('MatKhau');
        passwordInput.setAttribute('type', 'password');
    }

    function showPasswordIcon() {
        var eyeIcon = document.getElementById('eyeIcon');
        eyeIcon.classList.remove('bi-eye-slash');
        eyeIcon.classList.add('bi-eye');
        showPassword();
    }

    function hidePasswordIcon() {
        var eyeIcon = document.getElementById('eyeIcon');
        eyeIcon.classList.remove('bi-eye');
        eyeIcon.classList.add('bi-eye-slash');
        hidePassword();
    }

    function clearTimeout() {
        clearTimeout(timer);
    }
</script>
