@model IEnumerable<Code_JobSearch.Models.NhaTuyenDung>

@{
    ViewBag.Title = "Thống kê ứng viên";
    Layout = "~/Areas/Admin/Views/Shared/admin.cshtml";
    int startPage = Math.Max(1, ViewBag.Page - 2);
    int endPage = Math.Min(ViewBag.NoOfPage, ViewBag.Page + 2);
}

<div class="container mt-5">
    <h2 class="mb-4 text-success">Danh sách Nhà tuyển dụng trên hệ thống JobStar</h2>
    <div class="table-responsive">
        <table class="table table-striped table-bordered mt-3 dynamic-width">
            <thead class="table-dark text-center">
                <tr>
                    <th style="width: 15%;">Họ tên Nhà Tuyển Dụng</th>
                    <th style="width: 16%;">Email Nhà Tuyển Dụng</th>
                    <th style="width: 15%;">Hình ảnh Nhà Tuyển Dụng</th>
                    <th style="width: 15%;">Vị trí công tác</th>
                    <th style="width: 15%;">Tên doanh nghiệp</th>
                    <th style="width: 18%;">Số điện thoại Nhà Tuyển Dụng</th>
                    <th style="width: 20%;">Tên tài khoản ứng viên</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="width: 15%;" class="align-middle">@Html.DisplayFor(modelItem => item.HoTen_NTD)</td>
                        <td style="width: 16%;" class="align-middle">@Html.DisplayFor(modelItem => item.Email_NTD)</td>
                        <td style="width: 15%;" class="text-center align-middle">
                            @if (string.IsNullOrEmpty(item.HinhAnh_NTD))
                            {
                                <img style="width: 100px; height: 100px;" src="~/Image/basic.png" alt="Chưa có hình ảnh">
                            }
                            else
                            {
                                <img src="/Image/Khachhang/@Html.Raw(item.HinhAnh_NTD)" alt="Ảnh ứng viên" class="img-thumbnail" style="width: 100px; height: 100px;" />
                            }
                        </td>
                        <td style="width: 18%;" class="align-middle">@Html.DisplayFor(modelItem => item.ViTriCongTac)</td>
                        <td style="width: 18%;" class="align-middle">
                            @Html.ActionLink(item.DoanhNghiep.Ten_DN, "DetailsCompany", "Admin", new { id = item.DoanhNghiep.Id_DN }, null)
                        </td>
                        <td style="width: 18%;" class="align-middle">@Html.DisplayFor(modelItem => item.SoDienThoai_NTD)</td>
                        <td style="width: 20%;" class="align-middle">@Html.DisplayFor(modelItem => item.TenTK)</td>                    
                    </tr>
                }
            </tbody>

        </table>
        <!-- Pagination -->
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center mt-4">
                @if (ViewBag.Page > 1)
                {
                    <li class="page-item">
                        <a class="page-link prevent-default" href="/Admin/Admin/EmployerprofilePortal?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&page=1" aria-label="First">
                            <i class="fas fa-angle-double-left"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link prevent-default" href="/Admin/Admin/EmployerprofilePortal?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&page=@(ViewBag.Page - 1)" aria-label="Previous">
                            <i class="fas fa-angle-left"></i>
                        </a>
                    </li>
                }

                @for (int i = startPage; i <= endPage; i++)
                {
                    <li class="page-item @(i == ViewBag.Page ? "active" : "")">
                        <a class="page-link" href="/Admin/Admin/EmployerprofilePortal?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&page=@i">@i</a>
                    </li>
                }

                @if (ViewBag.Page < ViewBag.NoOfPage)
                {
                    <li class="page-item">
                        <a class="page-link prevent-default" href="/Admin/Admin/EmployerprofilePortal?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&page=@(ViewBag.Page + 1)" aria-label="Next">
                            <i class="fas fa-angle-right"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link prevent-default" href="/Admin/Admin/EmployerprofilePortal?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&page=@ViewBag.NoOfPage" aria-label="Last">
                            <i class="fas fa-angle-double-right"></i>
                        </a>
                    </li>
                }
            </ul>
        </nav>
        <!-- End of Pagination -->
    </div>
</div>

