@{
    ViewBag.Title = "Đánh giá ứng viên";
    Layout = "~/Views/Shared/DoanhNghiepLayout.cshtml";
    int IDUT = ViewBag.idut;
    string nddg = ViewBag.NoiDungDG ?? "";
}

<style>
    /* CSS for star rating */
    .rating {
        unicode-bidi: bidi-override;
        direction: ltr; /* Thay đổi hướng về trái */
        text-align: left;
    }

        .rating input {
            display: none;
        }

        .rating label {
            float: right;
            cursor: pointer;
            color: #aaa;
        }

            .rating label:before {
                content: '\2605';
                font-size: 2em;
            }

        .rating input:checked ~ label {
            color: #ffcc00;
        }

        .rating:not(:checked) > label:hover,
        .rating:not(:checked) > label:hover ~ label {
            color: #ffcc00;
        }

        .rating input:checked + label:hover,
        .rating input:checked + label:hover ~ label,
        .rating input:checked ~ label:hover,
        .rating input:checked ~ label:hover ~ label,
        .rating label:hover ~ input:checked ~ label {
            color: #ffcc00;
        }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title" style="color: green;">Đánh giá ứng viên tại đây</h2>
                    @using (Html.BeginForm("DanhGiaUV", "DoanhNghiep", FormMethod.Post, new { @class = "needs-validation", novalidate = "true" }))
                    {
                        @Html.Hidden("idut", IDUT) <!-- Hidden field for idut -->

                        <div class="mb-3">
                            @Html.ValidationSummary(true)
                            <h7 class="error-message" style="color: red;">@ViewData["Loi1"]</h7>
                            <br />
                            <span>Nội dung:</span>
                            <div class="input-group mb-3">
                                @Html.TextArea("NoiDungDG", nddg, new { @class = "form-control", type = "text", placeholder = "Nội dung đánh giá...", required = "required" })
                            </div>

                            <h7 class="error-message" style="color: red;">@ViewData["Loi2"]</h7>
                            <div class="input-group mb-3">
                                <label class="form-label">Mức độ đánh giá:</label>
                                <br />
                                <div class="rating" style="margin-top:20px">
                                    <input type="radio" id="star1" name="MucDoDanhGia" value="5" /><label for="star1"></label>
                                    <input type="radio" id="star2" name="MucDoDanhGia" value="4" /><label for="star2"></label>
                                    <input type="radio" id="star3" name="MucDoDanhGia" value="3" /><label for="star3"></label>
                                    <input type="radio" id="star4" name="MucDoDanhGia" value="2" /><label for="star4"></label>
                                    <input type="radio" id="star5" name="MucDoDanhGia" value="1" /><label for="star5"></label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <input type="submit" value="Gửi" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var LoiDG = '@Html.Raw(HttpUtility.JavaScriptStringEncode(ViewBag.LoiDG))';
    if (LoiDG) {
        alert(LoiDG);
    }
</script>
