@model Code_JobSearch.Models.JobDetailsViewModel
@{
    ViewBag.Title = "DetailsJob";
    Layout = "~/Views/Shared/DoanhNghiepLayout.cshtml";
}

<style>
    .rounded-circle {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        box-shadow: 0 0 0 2px #28a745;
    }

        .rounded-circle img {
            position: absolute;
            width: auto;
            height: 70%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
</style>

<div class="container">

    <div class="row">
        <div class="col-md-8">
            <div>
                <!-- Đặt kích thước cố định cho card -->
                <h3 class="card-title">@Html.DisplayFor(model => model.TinTuyenDung.TieuDe_TTD)</h3>
                <dl class="row">

                    @if (Model.TinTuyenDung.ThoiGianDangTuyen.HasValue)
                    {
                        <dt class="col-sm-4"><i class="bi bi-calendar-check"></i> Thời gian đăng</dt>
                        <dd class="col-sm-8">@Model.TinTuyenDung.ThoiGianDangTuyen.Value.ToString("dd/MM/yyyy")</dd>
                        <dt class="col-sm-4"><i class="bi bi-calendar"></i> Hạn nộp hồ sơ</dt>
                        <dd class="col-sm-8">@Model.TinTuyenDung.HanTuyenDung.Value.ToString("dd/MM/yyyy")</dd>
                    }
                    <dt class="col-sm-4"><i class="bi bi-cash"></i> Mức lương</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.TinTuyenDung.MucLuongTD)</dd>
                    <dt class="col-sm-4"><i class="bi bi-geo-alt-fill"></i> Địa điểm</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.TinTuyenDung.DiaDiem_TTD)</dd>
                    <dt class="col-sm-4"><i class="bi bi-calendar3-event-fill"></i> Yêu cầu kinh nghiệm</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.TinTuyenDung.KinhNghiemLam)</dd>
                    @if (Model.TinTuyenDung.ThoiGianDangTuyen.HasValue)
                    {
                        <dt class="col-sm-4"><i class="bi bi-cash"></i> Loại tin đăng</dt>
                        if (Model.TinTuyenDung.Id_PTTD.HasValue)
                        {
                            <dd class="col-sm-8">Mất phí</dd>
                        }
                        else
                        {
                            <dd class="col-sm-8">Không mất phí</dd>
                        }
                    }
                    <dt class="col-sm-4"><i class="bi bi-info-square-fill"></i> Trạng thái</dt>
                    <dd class="col-sm-8">

                        @if (Model.TinTuyenDung.TrangThaiDang == true)
                        {
                            @:Đã đăng
                        }
                        else
                        {
                            if (Model.TinTuyenDung.TrangThaiDang == false)
                            {
                                @:Chưa đăng
                            }
                            else
                            {
                                @Html.DisplayFor(model => model.TinTuyenDung.XetDuyet)
                            }
                        }
                    </dd>
                </dl>
            </div>
            <a href="@Url.Action("DangTin", "DoanhNghiep", new { idTTD = Model.TinTuyenDung.Id_TTD })" class="btn btn-primary mb-4">Đăng tin</a>
        </div>


    </div>


    <hr />

    <div class="row">
        <div class="col-md-8">
            <h3>Mô tả công việc</h3>
            <ul>
                @{
                    var lines = Model.TinTuyenDung.MoTa_TTD.Split(new[] { "\r\n", "\r", "\n" }, StringSplitOptions.RemoveEmptyEntries);
                    foreach (var line in lines)
                    {
                        string[] words = line.Split(new[] { ' ' }, StringSplitOptions.RemoveEmptyEntries);
                        for (int i = 0; i < words.Length; i++)
                        {
                            if (words[i].Contains("Vị Trí:") || words[i].Contains("Liên hệ:") || words[i].Contains("Mô Tả Công Việc:") || words[i].Contains("Yêu Cầu:") || words[i].Contains("Quyền Lợi:"))
                            {
                                <strong>@words[i]</strong>
                            }
                            else
                            {
                                @words[i]
                            }
                            if (i < words.Length - 1)
                            {
                                <text> </text> <!-- Thêm khoảng trắng giữa các từ -->
                            }
                        }
                        <br />
                    }
                }
            </ul>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="color: green;">Thông tin công việc</h5>
                    <dl class="row">
                        <dt class="col-7"><i class="bi bi-person-badge-fill"></i> Cấp bậc</dt>
                        <dd class="col-5">@Html.DisplayFor(model => model.TinTuyenDung.CapBacTD)</dd>
                        <dt class="col-7"><i class="bi bi-briefcase-fill"></i> Hình thức làm việc</dt>
                        <dd class="col-5">@Html.DisplayFor(model => model.TinTuyenDung.HinhThucLamViec)</dd>
                        <dt class="col-7"><i class="bi bi-gender-fill"></i> Giới tính</dt>
                        <dd class="col-5">@Html.DisplayFor(model => model.TinTuyenDung.YeuCauGioiTinh)</dd>
                        <dt class="col-7"><i class="bi bi-people-fill"></i> Số lượng tuyển</dt>
                        <dd class="col-5">@Html.DisplayFor(model => model.TinTuyenDung.SoLuongTuyen)</dd>
                        <dt class="col-7"><i class="bi bi-calendar3-event-fill"></i> Kinh nghiệm</dt>
                        <dd class="col-5">@Html.DisplayFor(model => model.TinTuyenDung.KinhNghiemLam)</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    var isDangTin = '@Html.Raw(HttpUtility.JavaScriptStringEncode(ViewBag.isDangTin))';
    if (isDangTin) {
        alert(isDangTin);
    }
</script>
