@model Code_JobSearch.Models.NhaTuyenDung
@{
    ViewBag.Title = "Thông tin người dùng";
    Layout = "~/Views/Shared/DoanhNghiepLayout.cshtml";
}

<div class="container mt-5">
    <div class="card">
        <div class="row g-0">
            <div class="col-md-8 d-flex align-items-center">
                <div class="card-body">
                    <h2 class="card-title">Thông tin nhà tuyển dụng</h2>
                    <hr>
                    <dl class="row">
                        <dt class="col-sm-4">Họ tên nhà tuyển dụng:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.HoTen_NTD)</dd>

                        <dt class="col-sm-4">Email:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Email_NTD)</dd>

                        <dt class="col-sm-4">Số điện thoại:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.SoDienThoai_NTD)</dd>
                        <dt class="col-sm-4">Vị trí công tác:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.ViTriCongTac)</dd>
                    </dl>
                    <p class="edit-link">
                        @Html.ActionLink("Chỉnh sửa thông tin cá nhân", "EditNTD", new { id = Model.Id_NTD }, new { @class = "btn btn-primary" })
                    </p>
                </div>
            </div>
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                @if (string.IsNullOrEmpty(Model.HinhAnh_NTD))
                {
                    <img style="max-block-size: 180px;margin-bottom: 10px;border-radius: 50%;margin-top: 10px;" src="~/Image/basic.png" alt="Ảnh nhà tuyển dụng">
                }
                else
                {
                    <img style="max-block-size: 180px;margin-bottom: 10px;border-radius: 50%;margin-top: 10px;" src="/Image/Khachhang/@Html.Raw(Model.HinhAnh_NTD)" alt="Ảnh ứng viên">
                }
            </div>

        </div>
    </div>
</div>

