@model Code_JobSearch.Models.HoSoXinViecViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:green;">Tạo Hồ Sơ Mới</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="card mt-4">
        <div class="card-header bg-primary text-white">
            <h4 style="color:white;"><i class="fas fa-file-alt"></i> Hồ sơ xin việc</h4>
        </div>
        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id_UV)

            <div class="row mb-3">
                <span style="color:red;">* Các thông tin bắt buộc</span>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="HoTen_TKUV" class="form-label">Họ tên</label>
                        <input type="text" class="form-control" value="@Model.HoTen_TKUV" readonly />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="Email_TKUV" class="form-label">Email</label>
                        <input type="email" class="form-control" value="@Model.Email_TKUV" readonly />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="SoDienThoai_TKUV" class="form-label">Số điện thoại</label>
                        <input type="text" class="form-control" value="@Model.SoDienThoai_TKUV" readonly />
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="Ten_HSXV" class="form-label">Tên hồ sơ</label>
                @Html.EditorFor(model => model.Ten_HSXV, new { htmlAttributes = new { @class = "form-control", placeholder = "VD: CV_Nhân Viên Kinh Doanh....." } })
                @Html.ValidationMessageFor(model => model.Ten_HSXV, "", new { @class = "text-danger" })
            </div>

            <div class="mb-3">
                <label for="inputFile" class="form-label">Chọn file CV của bạn</label>
                <input type="file" name="uploadFile" id="inputFile" accept=".pdf" class="form-control" />
            </div>

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>

}

<div class="mt-3">
    @Html.ActionLink("Quay lại", "CvUser", null, new { @class = "btn btn-primary" })
</div>
