@model IEnumerable<Code_JobSearch.Models.DoanhNghiep>

@{
    ViewBag.Title = "Company";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int startPage = Math.Max(1, ViewBag.Page - 2);
    int endPage = Math.Min(ViewBag.NoOfPage, ViewBag.Page + 2);
}

@{
    string iconClass = "";
    if (ViewBag.IconClass == "fa-sort-desc")
    {
        iconClass = "fa-sort-asc";
    }
    else
    {
        iconClass = "fa-sort-desc";
    }
}

<style>
    a {
        color: #1977cc;
    }

        a:hover {
            color: #6c757d;
        }

    .card {
        position: relative;
        overflow: hidden;
        transition: transform 0.3s;
        border: 1px solid #ddd;
        border-radius: 10px;
        margin-bottom: 20px;
        height: 400px; /* Kích thước cố định của thẻ card */
    }

        .card:hover {
            transform: scale(1.05);
        }

        .card img {
            width: 100%;
            height: 200px; /* Kích thước cố định của ảnh */
            object-fit: contain;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

    .card-body {
        padding: 15px;
        height: calc(100% - 200px); /* Đặt kích thước cho nội dung */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .short-description {
        font-size: 0.875em;
        color: #6c757d;
        height: 100px; /* Đặt chiều cao tối đa cho mô tả ngắn */
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .location {
        font-size: 0.875em;
        color: #6c757d;
        display: flex;
        align-items: center;
    }

        .location i {
            margin-right: 5px;
        }
    .company-name {
        white-space: nowrap;
        overflow: hidden; 
        text-overflow: ellipsis; 
        margin-bottom: 5px; 
    }
    .card:hover .company-name {
        white-space: normal; 
        overflow: visible;
        text-overflow: unset; 
        margin-bottom: 10px;
    }
</style>

<h2 style="text-align:center;color:green;">Danh sách các công ty</h2>
<section class="shop spad">
    <div class="container">
        <div class="row">
            @foreach (var p in Model)
            {
                var shortDescription = p.MoTa_DN.Length > 100 ? p.MoTa_DN.Substring(0, 100) + "..." : p.MoTa_DN;
                shortDescription = shortDescription.Replace("- ", "<br>- ");
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <a href="@Url.Action("DetailsCompany", "Home", new { @id = p.Id_DN }, null)">
                            <img src="~/Content/Logo_DoanhNghiep/@Html.Raw(p.Logo_DN)" alt="..." class="card-img-top">
                        </a>
                        <div class="card-body d-flex flex-column justify-content-between">
                            <a href="@Url.Action("DetailsCompany", "Home", new { @id = p.Id_DN }, null)">
                                <h6 class="company-name" title="@p.Ten_DN"style="color:green;">@Html.Raw(p.Ten_DN)</h6>
                            </a>
                            <div>
                                <p class="short-description">@Html.Raw(shortDescription)</p>
                            </div>
                            <div class="location mt-auto">
                                <i class="bi bi-geo-alt-fill"></i>@p.DiaDiem_DN
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
    <ul class="pagination justify-content-center">
        @if (ViewBag.Page > 1)
        {
            <li class="page-item">
                <a class="page-link" href="/Home/Company?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&page=1">
                    &lt;&lt;
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="/Home/Company?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&page=@(ViewBag.Page - 1)">
                    &lt;
                </a>
            </li>
        }

        @for (int i = startPage; i <= endPage; i++)
        {
            <li class="page-item @(i == ViewBag.Page ? "active" : "")">
                <a class="page-link" href="/Home/Company?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&page=@i">
                    @i
                </a>
            </li>
        }

        @if (ViewBag.Page < ViewBag.NoOfPage)
        {
            <li class="page-item">
                <a class="page-link" href="/Home/Company?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&page=@(ViewBag.Page + 1)">
                    &gt;
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="/Home/Company?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&page=@ViewBag.NoOfPage">
                    &gt;&gt;
                </a>
            </li>
        }
    </ul>
</section>

